.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: purple;
}

.card{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    color: white
}

mat-card{
    border-radius: 100px!important;
}

@media all and (max-width: 768px){
    .card{
        height: 85%
    }
}

@media all and (max-width: 400px){
    .card{
        height: 95%
    }
}

@media all and (max-width: 300px){
    .wrapper{
        height: 125vh;
    }
}